<div style="padding: 55px; box-sizing: border-box; background: #99d1ff; float: centre; margin-left: 25%; border: none; width: 50%;">
  <center><h2>Zutaten</h2><h3>Alles</h3><br>
  <p>Alles? Was soll das heißen? Naja es heißt, dass du im Bereich der Technik nichts von deinem Wissen über Board werfen musst. Im Gegenteil, Technik ist ja ohne Sinn und Inhalt einfach nur eine graue Maus, ein sinnlose Masse an Bits, die in Raum und Zeit ohne Sinn und Verstand existieren würden.</p></center>
  <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/3o6ZsVdE8VYHG6nnDa" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  <br>
  <div id="left">
    <form action="/diy" method="get">
      <input type="submit" value="<< Halt: eins zurück bitte">
    </form>
  </div>
  <div id="right">
    <form action="/shcaring" method="get">
      <input type="submit" value="Nächste bitte >>">
    </form>
  </div>
  <br>
  <form action="/" method="get">
    <input type="submit" value="Nochmal an den Anfang bitte">
  </form>
</div>
