<div style="padding: 55px; box-sizing: border-box; background: #66baff; float: centre; margin-left: 25%; border: none; width: 50%;">
  <center><h2>Zutat N°2:</h2><h3>Do it yourself</h3><br>
  <p>Alles? Was soll das heißen?</p></center>
  <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/3orif8KvKt5XMzwHEQ" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hardlyart-hardly-art-julie-ruin-3orif8KvKt5XMzwHEQ"></a>
  <br>
  <div id="left">
    <form action="/spieltrieb" method="get">
      <input type="submit" value="<< Halt: eins zurück bitte">
    </form>
  </div>
  <div id="right">
    <form action="/alles" method="get">
      <input type="submit" value="Nächste bitte >>">
    </form>
  </div>
  <br><form action="/" method="get">
    <input type="submit" value="Nochmal an den Anfang bitte">
  </form>
</div>
