<div style="padding: 55px; box-sizing: border-box; background: #99d1ff; float: centre; margin-left: 25%; border: none; width: 50%;">
  <center><h2>Merry Drucking!</h2><br></center>
  <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><img src="https://betterplace-assets.betterplace.org/uploads/project/profile_picture/000/058/907/fill_730x380_bp1512068707_adeventhoc.jpeg" width="100%" height="100%" style="position:absolute" frameBorder="0"></div>
  <a href="https://www.betterplace.org/de/projects/58907"><h3>Unser Wunschzettel!</h3></a>
  <br><form action="/" method="get">
    <input type="submit" value="Nochmal an den Anfang bitte">
  </form>
</div>
