<div style="padding: 55px; box-sizing: border-box; background: #33a3ff; float: centre; margin-left: 25%; border: none; width: 50%;">
  <center><h2>Zutat N°1:</h2><h3>Spieltrieb</h3><br>
  <p>Freiraum für zweckloses Rumbasteln und wertfreies Ausprobieren
    - ohne Deadlines, ohne Notensystem und ohne Preise!
  Vor allem in Kombination mit der nächsten Zutat entsteht hier ein feministisches Gebäck</p></center>
  <iframe src="https://giphy.com/embed/sWbSCI7xmdYTC" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sorry-feminism-may-sWbSCI7xmdYTC"></a></p>
  <br>
  <div id="left">
    <form action="/" method="get">
      <input type="submit" value="<< Halt: eins zurück bitte">
    </form>
  </div>
  <div id="right">
    <form action="/diy" method="get">
      <input type="submit" value="Nächste bitte >>">
    </form>
  </div>
</div>
