<div style="padding: 55px; box-sizing: border-box; background: #008cff; float: centre; margin-left: 25%; border: none; width: 50%;">
  <center><h2>Feminismus & Technik:<br>ein Geheim-Rezept!</h2></center>
  <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/3o7abBphHJngINCHio" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><a href="https://giphy.com/gifs/cute-feminist-girlpower-3o7abBphHJngINCHio"></a>
  <br><form action="/spieltrieb" method="get">
    <input type="submit" value="Start">
  </form>
</div>
